body {
    margin: 0;
    font-family: serif;
    background: #efe7d2;
    color: #222;
}

#wrap {
    position: relative;
    width: 500px;
    margin: 80px auto;
}

#title {
    margin-bottom: 0.8em;
}

#viewer {
    font-size: 1.2em;
    line-height: 1.8;
    color: #333;
    white-space: pre-wrap;
}

#quote {
    margin-bottom: 2em;
    color: #333;
    white-space: pre-wrap;
}

a {
  display: block;
  padding: 0.4em 0;
  text-decoration: none;
}

#back {
    position: absolute;
    top: -30px;
    left: 0;
}

h1 {
  margin-bottom: 0.3em;
}

.desc {
  font-size: 0.9em;
  color: #666;
  margin-top: 0;
  margin-bottom: 1.5em;
  line-height: 1.5;
}

@media (max-width: 600px) {

  #wrap {
    margin: 40px auto;
  }

  #viewer {
    font-size: 1.15em;
    line-height: 1.9;
  }

}
